<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="io" class="dev.kmfg.flooring.view.UserIOConsoleImpl" />

    <bean id="view" class="dev.kmfg.flooring.view.FlooringView" >
        <constructor-arg ref="io" />
    </bean>

    <bean id="orderDao" class="dev.kmfg.flooring.dao.OrderDaoFileImpl"/>
    <bean id="productDao" class="dev.kmfg.flooring.dao.ProductDaoFileImpl"/>
    <bean id="stateTaxDao" class="dev.kmfg.flooring.dao.StateTaxDaoFileImpl"/>

    <bean id="service" class="dev.kmfg.flooring.service.FlooringServiceLayerImpl">
        <constructor-arg ref="orderDao" />
        <constructor-arg ref="productDao" />
        <constructor-arg ref="stateTaxDao" />
    </bean>

    <bean id="controller" class="dev.kmfg.flooring.controller.FlooringController">
        <constructor-arg ref="service"/>
        <constructor-arg ref="view"/>
    </bean>
</beans>