<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/mvc
          http://www.springframework.org/schema/mvc/spring-mvc.xsd
          http://www.springframework.org/schema/tx
          http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/aop
          http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

    <bean id="io" class="dev.kmfg.flooring.view.UserIOConsoleImpl" />

    <bean id="view" class="dev.kmfg.flooring.view.FlooringView" >
        <constructor-arg ref="io" />
    </bean>

    <bean id="orderDao" class="dev.kmfg.flooring.dao.OrderDaoFileImpl"/>
    <bean id="productDao" class="dev.kmfg.flooring.dao.ProductDaoFileImpl"/>
    <bean id="stateTaxDao" class="dev.kmfg.flooring.dao.StateTaxDaoFileImpl"/>

    <bean id="service" class="dev.kmfg.flooring.service.FlooringServiceLayerImpl">
        <constructor-arg ref="orderDao" />
        <constructor-arg ref="productDao" />
        <constructor-arg ref="stateTaxDao" />
    </bean>

    <bean id="controller" class="dev.kmfg.flooring.controller.FlooringController">
        <constructor-arg ref="service"/>
        <constructor-arg ref="view"/>
    </bean>
</beans>